.year:before {
  position: absolute;
  content: "";
  width: 195px;
  height: 100%;
  right: -15px;
  bottom: -15px;
  background-color: rgb(22 163 74 / var(--tw-text-opacity, 1));
  border-radius: 0 45px;
  z-index: -1;
}
.year {
  background-color: white;
  width: 195px;
  text-align: center;
  position: absolute;
  bottom: -100px;
  right: 80px;
  padding: 15px 15px 35px;
  border-radius: 0 45px;
}
